<style>
    body{
      font-family: Arial, Helvetica, sans-serif;
      background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(122, 118, 118));
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        {{homeContent}}
    </div>
</div>

<div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Visite um dos nossos patrocinadores! </h5>
      <p class="card-text">Atende Net, A melhor Internet da região!</p>
      <a href="#" class="btn btn-primary">Visite-nos!</a>
    </div>
  </div>